.hello-world {
    position: relative;
    color: #2c3e50;
    font-size: 3em;
}

.hello-world:after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: -10%;
    left: 0;
    height: 40%;
    width: 100%;
    background: #f0898b;
}

.hello-world__tech {
    font-weight: 700;
    font-style: italic;
}
